@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.c-pagination {
    font-size: 12.5px;
    color: v.$font-color--gray;
    .wp-pagenavi {
        width: 87%;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.mq( tablet ) {
            width: 90%;
            margin: 23.5px auto;
        }
        a,span {
            display: inline-block;
            font-family: v.$font-Roboto-Bold;
        }
        a {
            color: v.$font-color--gray;
        }
        .pages { /* 総ページ表記 */
            margin-right: 14px;
            @include m.mq( sp ) {
                display: none;
            }
        }
        .current,
        a.page { /* ページボタン */
            margin: 0 7px;
            padding: 0 10px;
            border: 1px solid v.$font-color--gray;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            @include m.mq( sp ) {
                display: none;
            }
            &:hover { /* ボタンをホバーしたとき */
                color: v.$font-color--white;
                background-color: v.$bgcolor--card;
            }
        }
        .current { /* 現在のページ */
            color: v.$font-color--white;
            background-color: v.$bgcolor--card;
        }
        .previouspostslink { /* 前へ */
            margin-right: 7px;
            @include m.mq( sp ) {
                margin-right: auto;
                &::after {
                    content: " 前へ";
                    font-family: v.$font-Mplus-j-Regular;
                }
            }
        }
        .nextpostslink { /* 次へ */
            margin-left: 7px;
            @include m.mq( sp ) {
                margin-left: auto;
                &::before {
                    content: "次へ ";
                    font-family: v.$font-Mplus-j-Regular;
                }
            }
        }
    }
}