@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-article {
    font-family: v.$font-Mplus-j-Regular;
    font-size: 12.5px;
    color: v.$font-color--brown;
    &__container {
        @include m.mq( tablet ) {
            width: 85.6%;
            padding: 47px 0;
        }
        @include m.mq( sp ) {
            padding: 23.5px 0;
        }
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: v.$font-Mplus-j-Bold;
        margin-bottom: 47px;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
    }
    h1 {
        font-size: 34px;
        @include m.mq( sp ) {
            font-size: 25px;
        }
    }
    h2 {
        font-size: 28px;
        @include m.mq( sp ) {
            font-size: 22px;
        }
    }
    h3 {
        font-size: 22px;
        @include m.mq( sp ) {
            font-size: 19px;
        }
    }
    h4,h5,h6 {
        font-size: 15.7px;
    }
    p {
        margin-bottom: 47px;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
        // &.text-right {
        //     margin-left: 3%;
        //     margin-bottom: 0;
        // }
        // &.text-left {
        //     margin-right: 3%;
        //     margin-bottom: 0;
        // }
    }
    a {
        text-decoration: underline;
        color: v.$font-color--bluegray;
    }
    blockquote {
        background-color: v.$bgcolor--block;
        padding: 39px;
        margin-bottom: 47px;
        @include m.mq( sp ) {
            padding: 23.5px 15.7px;
            margin-bottom: 23.5px;
        }
    }
    img {
        margin-bottom: 47px;
        object-fit: contain;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
    }
    figure img {
        margin-bottom: 0;
    }
    div {
        margin-bottom: 47px;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
        div,p,h1,h2,h3,h4,h5,h6,a,ol,ul,img {
            margin-bottom: 0;
        }
        // &.flex-row {
        //     display: flex;
        //     align-items: flex-start;
        // }
        // &.flex-wrap {
        //     flex-wrap: wrap;
        //     column-gap: 1.5%;
        //     row-gap: 15.7px;
        // }
    }
    ol,ul {
        margin-bottom: 23.5px;
        &:not(.blocks-gallery-grid) {
            padding-left: 1rem;
        }
        ol,ul {
            margin-bottom: 0;
        }
    }
    code {
        display: inline-block;
        width: 100%;
        font-family: v.$font-Mplus-Regular;
        background-color: v.$bgcolor--block;
        padding: 39px;
        margin-bottom: 47px;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
    }
    pre {
        font-family: v.$font-Mplus-Regular;
    }
    table,
    td {
        border-collapse: collapse;
        border: 1px solid v.$font-color--gray;
    }
    table {
        width: 100%;
        margin-bottom: 47px;
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
    }
    td {
        height: 60px;
        padding-left: 23.5px;
        // &.td_left {
        //     width: 32%;
        // }
        // &.td_right {
        //     width: 68%;
        // }
    }
    .wp-block-button__link {
        color: v.$font-color--brown;
        text-decoration: none;
        border: 1px solid v.$font-color--gray;
        border-radius: 12px;
        background-image: linear-gradient(0deg, #DED8D3, #F2EDE9);
        font-family: v.$font-Mplus-j-Bold;
        @include m.mq( sp ) {
            max-width: 100%;
        }
    }
}