@use "../../foundation/variable" as v;

.p-footer {
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../img/footer-bg-pc.jpg);
   color: v.$font-color--white;
   display: flex;
   justify-content: center;
   align-items: center;
   &__wrapper {
      text-align: center;
   }
   ul.menu {
      display: flex;
      font-family: v.$font-Mplus-j-Regular;
      font-size: 15.7px;
      margin-bottom: 19px;
   }
   li.menu-item {
      padding: 0 14px;
      border-right: 1px solid v.$font-color--white;    /* 間の枠線 */
      &:last-of-type {
         border-right: 0;  /* 右の枠線は消す */
      }
   }
   &__copyright {
      font-family: v.$font-Mplus-Regular;
      font-size: 11px;
   }
   a {
      color: v.$font-color--white;
   }
 }