@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-header {
    width: 100%;
    background-color: v.$bgcolor--header;
    color: v.$font-color--gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.mq( tablet ) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__logo {
        @include m.font-size(32, pc);
        line-height: 1.325;
        margin-left: 4.18%;
        @include m.mq( tablet ) {
            font-size: 35px;
            margin-left: 0;
            margin-bottom: 29px;
        }
    }
    a {
        color: v.$font-color--gray;
    }
}