@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-info {
    color: v.$font-color--brown;
    &__head {
        margin-bottom: 20px;
        font-size: 28px;
        @include m.mq( tablet ) {
            margin-bottom: 19.6px;
        }
        @include m.mq( sp ) {
            margin-bottom: 23.5px;
        }
    }
    &__text {
        margin-bottom: 54px;
        font-size: 12.5px;
        @include m.mq( tablet ) {
            margin-bottom: 29px;
        }
        @include m.mq( sp ) {
            margin-bottom: 15px;
        }
    }
}