@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-sidebar {
    width: 100%;
    background-color: v.$bgcolor--sidebar;
    color: v.$font-color--gray;
    padding-left: 12.5%;
    @include m.mq( tablet ) {
        padding-left: 5.5vw;
    }
    @include m.mq( sp ) {
        padding-left: 10vw;
    }
    &__logo {
        margin-top: 63px;
        margin-bottom: 63px;
        // font-size: 26.6px;
        @include m.font-size(20, pc);
        @include m.mq( tablet ) {
            visibility: hidden;  /* 要素の持つ位置や高さは残して非表示 */
        }
    }
    &__li {
        padding-top: 27px;
        padding-bottom: 27px;
        // font-size: 18.8px;
        @include m.font-size(14, pc);
        @include m.mq( tablet ) {
            font-size: 18.8px;
        }
        &:first-child {
            padding-top: 0;
        }
    }
    &__sub-ul:last-child &__sub-li:last-child {
        padding-bottom: 27px;
    }
    &__sub-li {
        padding-left: 7%;
        padding-bottom: 16.6px;
        // font-size: 15.7px;
        @include m.font-size(12, pc);
        @include m.mq( tablet ) {
            font-size: 15.7px;
        }
        &:last-child {
            padding-bottom: 6.6px;
        }
        @include m.mq( tablet ) {
            padding-left: 2vw;
        }
        @include m.mq( sp ) {
            padding-left: 3.5vw;
        }
    }
    a {
        color: v.$font-color--gray;
    }
}